src/PortoImobiliario/Soap/wsdl/PpwEmissaoImobiliaria/PpwEmissaoImobiliariaIntegrationServiceV1_0_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://www.portoseguro.com.br/ramoselementares/comum/ppwemissaoservice/v1_0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.portoseguro.com.br/ramoselementares/comum/ppwemissaoservice/v1_0" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:import location="PpwEmissaoImobiliariaIntegrationServiceV1_0.wsdl" namespace="http://www.portoseguro.com.br/ramoselementares/comum/ppwemissaoservice/v1_0"/>
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.portoseguro.com.br/ramoselementares/comum/ppwemissaoservice/v1_0/types" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portoseguro.com.br/ramoselementares/comum/ppwemissaoservice/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
  </WL5G3N0:types>
  <WL5G3N0:binding name="PpwEmissaoPortTypeSOAP11Binding" type="WL5G3N1:PpwEmissaoPortType">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="executarCalculoItemProduto">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="executarCalculoItemProdutoRequest" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="executarCalculoItemProdutoResponse" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="executarCalculoProduto">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="executarCalculoProdutoRequest" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="executarCalculoProdutoResponse" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="criarProposta">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="criarPropostaRequest" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="criarPropostaResponse" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="buscarDadosApoliceEndosso">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="buscarDadosApoliceEndossoRequest" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="buscarDadosApoliceEndossoResponse" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="buscarDadosApoliceRenovacao">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="buscarDadosApoliceRenovacaoRequest" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="buscarDadosApoliceRenovacaoResponse" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="buscarDadosItem">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="buscarDadosItemRequest" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="buscarDadosItemResponse" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reentrarProposta">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="reentrarPropostaRequest" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="reentrarPropostaResponse" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="PpwEmissaoService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N1:PpwEmissaoPortTypeSOAP11Binding" name="PpwEmissaoService">
      <WL5G3N2:address location="https://hml.portoseguro.com.br/triade/externo/PpwEmissaoImobiliariaIntegrationService/PpwEmissaoImobiliariaIntegrationServiceV1_0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>