src/PortoImobiliario/Soap/wsdl/EmissaoOA.DocumentoEmissaoServiceEBS - HML/DocumentoEmissaoServiceTokenEBSV1_0_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="DocumentoEmissaoServiceSOAP11_V1_0" targetNamespace="http://www.portoseguro.com.br/ramoselementares/emissao/documentoemissaoservice/v1_0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.portoseguro.com.br/ramoselementares/emissao/documentoemissaoservice/v1_0" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:import location="DocumentoEmissaoServiceTokenEBSV1_0.wsdl" namespace="http://www.portoseguro.com.br/ramoselementares/emissao/documentoemissaoservice/v1_0"/>
  <WL5G3N0:binding name="DocumentoEmissaoPortTypeSOAP11Binding" type="WL5G3N1:DocumentoEmissaoPortType">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="buscarDocumentoEmissaoPorId">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="buscarItemDocumentoEmissaoPorId">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorCarta">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorCategoriaEvento">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorCategoriaGenerica">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorCategoriaLocal">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorCorretor">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorPeriodoPorIdSegurado">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorPeriodoPorNumeroApolice">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorSegurado">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarItensDocumentoEmissaoPorCobertura">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarItensDocumentoEmissao">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorId">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorPeriodoPorCorretor">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="buscaDocumentoPorNumeroECorretor">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="buscaDocumentoPorInspecao">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="buscarDocumentoEmissaoComplementarPorId">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorLicitacao">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoEmissaoPorObjetoSimilar">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarDocumentoPorNumeroPessoaLocalRisco">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="listarBlocoCondominio">
      <WL5G3N2:operation style="document"/>
      <WL5G3N0:input>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body parts="parameters" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="PortoFaultException">
        <WL5G3N2:fault name="PortoFaultException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="DocumentoEmissaoServiceSOAP11_V1_0">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N1:DocumentoEmissaoPortTypeSOAP11Binding" name="DocumentoEmissaoServiceSOAP11_V1_0SOAP">
      <WL5G3N2:address location="https://osbhml2re.portoseguro.brasil:443/EmissaoOA.DocumentoEmissaoServiceEBS/DocumentoEmissaoServiceTokenEBSV1_0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>